# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# vscode
launch.json
settings.json


*.txt
*.log

# Uncomment when approaching release
#test.py

#**/notes

#run_parallel/
#run_perperpendicular/
