# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# vscode
launch.json
settings.json

logfil*.txt
*.txt
*.log

# Uncomment when approaching release
test.py

# ignore the Examples folder
!PythonModule/determine_C0_C1_correction/Examples
